html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.side_bar{
    width: 20%;
    background-color: #2a2621;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
}

.btn_options{
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.btn_options:hover{
    width: 100%;
    background-color: #fdfbf8;
    color: black;
}

.main_content{
    width:80%;
    background-color:#fdfbf8;
}

.nav_bar{
    width: 100%;
    height: 10%;
    background-color: #f8f2eb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_bar_content{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subtitle{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: "Nunito", sans-serif;
	text-align: center;
}

.title{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	font-family: "Nunito", sans-serif;
	text-align: center;
}

.btn{
	font-family: "Nunito", sans-serif;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
    text-align: center;
}

.logout{
    background: #DBB16C;
}

.submit{
    background-color: #D76C58;
}

.secondary{
    background-color: #9ba5aa;
}

.delete{
    background-color: rgb(212, 4, 4);
    color: white;
}

.add{
    background-color: #5783db;;
}

.delete_secondary{
    background-color: rgb(255, 217, 223);
    border: 1px solid rgb(254, 58, 58);
}

.edit_secondary{
    background-color: #b9d0ff;
    border: 1px solid #5783db;
}

.return{
    background-color: #ffe97d;
    border: 2px solid #ffd501 ;
    color: black;
}

.complete{
    background-color: #33b249;
    color: black;
}

.render_content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.render_box{
    width: 90%;
    padding-top: 50px;
    padding-bottom: 60px;
}

.content_table{
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.group_btn{
    display: flex;
    align-self: flex-end;
    gap: 30px;
}

.separate_both_sides{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.msg-empty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-empty span{
    width: 60px;
}

.group_sides{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mb{
    margin-top: 10px;
    color: green;
}
