.header_table{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.table_header{
    cursor: pointer;
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: row;
}

.td{
    padding: 5px;
    background-color: rgb(222, 221, 221);
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
}

.td_product{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
    color: black;
}

.id{
    width: 4%;
    border-right: none;
    text-align: start;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
    text-align: center;
}

.supplier{
    width: 48%;
    border-right: none;
}

.fields{
    width: 16%;
    border-right: none;  
}

.last_field{
    width: 16%;
}

.first{
    width: 50%;
    border-right: none;
    text-align: start;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.second{
    width: 25%;
    border-right: none;
}
.third{
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.final{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}


.textos_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.subtitle{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: "Nunito", sans-serif;
	text-align: center;
}

.title{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	font-family: "Nunito", sans-serif;
	text-align: center;
}

.first_report{
    width: 50%;
    border-right: none;
    text-align: start;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.third_report{
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box_detail{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}